/* -----------Сеточные стили----------*/

html,
body {
    min-width: 1122px;
    min-height: 1750px;

}

body {
    background-size: 1372px auto;
    background-repeat: no-repeat;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 75px;

    min-height: 285px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 285px;
    background-color: transparent;
}

.main-header-logo {
    order: 2;
    width: 368px;
    height: 153px;

    display: block;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    background-color: black;

    min-height: 70px;
    background-color: transparent;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    width: 620px;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 70px;
}

.user-navigation {
    width: 140px;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 70px;
}

.features {
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 170px;
}

.features-item {
    width: 300px;

    min-height: 170px;
}

.index-columns {
    display: flex;
    justify-content: space-around;

    padding: 50px 80px;
    margin-bottom: 35px;

    background-image: none;
    /*background-color: transparent; */
}

.news {
    width: 380px;

    min-height: 315px;
}

.gallery {
    width: 300px;

    min-height: 315px;
}

.gallery-content {
    height: 164px;
    margin: 0;

    background-color: #cccccc;
    border: 7px solid white;
}

.contacts {
    width: 380px;
}

.appointment {
    width: 380px;
}

.main-footer {
    padding: 60px 0;
    margin-top: 65px;

    background: none;
    min-height: 180px;
}

.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;

    min-height: 100px;
}

.footer-social {
    width: 145px;
    min-height: 100px;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;

    min-height: 100px;
}

